html, body {
    background-color: rgb(32, 32, 32);
    color: rgb(182, 182, 182);
    height: 94%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
iframe {
    display: block;
    width:90%;
    min-height: 100%;
    height: fit-content;
    margin: auto;
    margin-top: 0.5%;
    border-radius: 10px;
}

.temaknapp {
    position: absolute;
    right: 0.1%;
    top: 0%;
    background-color: rgb(182, 182, 182);
    color: rgb(32, 32, 32);
    width: 140px;
}
.titel {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-top: 1%;
     
}

a {
    text-decoration: none;
    color: rgb(182, 182, 182);
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    margin-top:1%;
}
a:hover {
    text-decoration: none;
    color: rgb(182, 182, 182);
    display: inline-block;
    border: 1px solid rgb(124, 124, 124);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    margin-top:1%;
    background-color: rgb(37, 37, 37);
}
a:active {
    text-decoration: none;
    color: rgb(182, 182, 182);
    display: inline-block;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    margin-top:1%;
    background-color: rgb(48, 48, 48);
}
.praktiskUppgift {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.flytandeMeddelande {
    color: rgb(32, 32, 32);
    text-shadow: 2px 2px 2px white;
    display: block;
    position: relative;
    visibility: hidden;
    width:300px;
    margin-top: -105px;
    border: 1px solid black;
    background-color: rgb(161, 161, 161);

}
button {
    background-color: rgb(182, 182, 182);
    color: rgb(32, 32, 32);
}
.kodbox {
    margin-top: 10px;
    width:fit-content;
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: rgb(124, 124, 124);
    padding: 2px 3px 2px 3px;
    border: 1px inset black;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}